body {
	font-family: Arial;
}

.resume-container {
  background-color: lightblue; 
  color: darkblue;
}

.category {
	padding: 1em;
	border: lightgrey solid 2px;
	border-style: inset;
}

.category h2 {
	text-decoration: underline
}
